h5 {
  font-family: $family;
  color: $colore-principale;
}

.carousel-item {
  img {
    aspect-ratio: 1/1;
    border-radius: 100% !important;
    object-fit: cover !important;
    width: 100% !important;
  }
}
