/* h5 {
  font-family: $family;
  color: $colore-principale;
}
#carouselExampleCaptions { */
/*   margin-bottom: $size-fix; */
/*  .carousel-item {
    img {
      aspect-ratio: 1/1;
      border-radius: 100% !important;
      object-fit: cover !important;
      width: 50% !important;
      /* position: relative; */
/*    }
  }
} */
/* .carousel-caption {
  position: absolute;
  bottom: -150px;
  left: 30px;
} */

/* .carousel-item {
  display: flex;
  flex-direction: column;
  height: 500px;
} */
.carouselExampleRide {
  padding-bottom: 4em;
}

.carousel-inner {
  width: 50%;
}
.carousel-item {
  img {
    border-radius: 30px;
    margin-bottom: 220px;
  }
  .testimonianza {
    h5 {
      color: $colore-sfondo;
      font-size: small;
      font-family: $family;
    }
    p {
      font-style: $styleI;
    }
  }
}
.carousel-caption {
  background-color: $coloreOpaco;
  padding: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $colore-principale;
}
