footer {
  height: 80px;
  position: sticky;
  bottom: 0;
  .testo-footer {
    padding-top: auto;
    padding-bottom: auto;
  }

  #contatti {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
  }
}
