$luminosity: on;
@if ($luminosity == on) {
  body {
    background-color: $colore-sfondo;
    .text-center h3 {
      color: $colore-principale;
    }
  }
} @else if ($luminosity == off) {
  body {
    background-color: darken($colore-sfondo, 100%);
    .card-eventi {
      background-color: $colore-sfondo;
    }
    .text-center h3 {
      color: $colore-sfondo;
    }
  }
}

/* @function paddingTot($size) {
  @return calc($size - $size-fix);
}
 */
