body {
  background-color: $colore-sfondo;
}
/* main {
  /* background-color: $colore-sfondo; */
/*  font-weight: 700;
  .fila-cards {
    justify-content: center;
    align-content: center;
  }
}  */

#text-center {
  color: $colore-sfondo;
}

@mixin mainBox($val, $property) {
  background-#{$property}: $val;
}

@mixin stileCard($size) {
  margin: $size;
  border-radius: $size;
  border: $bordo;
  background-color: $colore-sfondo;
}
.card-text p {
  font-style: italic;
  font-weight: 200;
}

.btn {
  background-color: $colore-principale;
  color: $colore-sfondo;
  &:hover {
    transform: sclae(2);
  }
}
span {
  font-weight: 700;
}

.evento-1 {
  @include stileCard(15px);
}
