.navBar {
  padding-right: 0;
  width: 100%;
  border: $bordo;
  align-items: center;
  position: sticky;
  top: 0;
  .col-1 img {
    width: 100%;
  }
}

ul {
  width: 100%;
  justify-content: end;
  li {
    padding-right: 1.5em;
    color: $colore-principale;

    font: {
      size: 1em;
      weight: 600;
    }
    & :hover {
      color: $colore-secondario;
      transform: scale(2);
    }
  }
}
