.partners {
  background-color: $colore-principale;
  h3,
  h5 {
    padding: 1em;
  }
  img {
    max-width: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
  }
  .col h5 {
    color: $colore-sfondo;
    text-align: center;
    font: {
      style: $styleI;
      family: $family;
      size: 1em;
    }
    &:hover {
      font-size: 1.5em;
    }
  }
}
