/* @mixin customPartner($property) {
  width: 100%;
  margin: 2em;
  background-image: $property;
}
.partnership {
  .colA {
    @include customPartner(url(../../img/la\ cinciallegra\ logo.jfif));
  }
  .colB {
    @include customPartner(url(../../img/le\ orme\ dei\ piccoli.jfif));
  }
  .colC {
    @include customPartner(url(../../img/comune\ castelfranco\ logo.png));
  }
  .colD {
    @include customPartner(url(../../img/logo\ biblioteca.png));
  }
}
 */

.partners {
  background-color: $colore-principale;

  img {
    max-width: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
  }
  .col h5 {
    color: $colore-sfondo;
    text-align: center;
    font: {
      style: $styleI;
      family: $family;
      size: 1em;
    }
    &:hover {
      font-size: 1.5em;
    }
  }
}
