html,
body,
nav,
footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $colore-principale;
}
